.App {
  text-align: center;
}
#header {
  margin-top: 3%;
  text-align: center;
}
#map {
  min-height: 100vh;
}

li {
  list-style-type:none;
}

@media screen and (max-width: 480px) {

#header {
  font-size: 3vw;
}
}
